In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('toucans_rarity.csv')

In [4]:
df = df.sort_values(by=["mean_trait_rarity"], ascending=False)

In [5]:
df = df.reset_index()

In [6]:
df['rarity'] = df.index

In [23]:
df.name.str.split('#')

0       [Toucan Gang , 2391]
1       [Toucan Gang , 7366]
2       [Toucan Gang , 4118]
3        [Toucan Gang , 626]
4       [Toucan Gang , 4526]
                ...
7714                     NaN
7715                     NaN
7716                     NaN
7717                     NaN
7718                     NaN
Name: name, Length: 7719, dtype: object

In [19]:
df

,index,Unnamed: 0,name,Eyes,Plumage,Beak,Hat,Clothes,Accessories,trait_n,...,Plumage_rarity,Beak_rarity,Hat_rarity,Clothes_rarity,Accessories_rarity,mean_trait_rarity,min_trait_rarity,max_trait_rarity,rarity,id
0,3049,0,Toucan Gang #2391,NaN,Regular,Regular,NaN,NaN,Mummy,3,...,0.544049,0.474402,NaN,NaN,0.51782,0.512090,0.474402,0.544049,0,"[Toucan Gang , 2391]"
1,3539,0,Toucan Gang #7366,NaN,Regular,Regular,NaN,NaN,NaN,2,...,0.544049,0.474402,NaN,NaN,NaN,0.509226,0.474402,0.544049,1,"[Toucan Gang , 7366]"
2,3846,0,Toucan Gang #4118,Stoner,Regular,Regular,NaN,NaN,Mummy,4,...,0.544049,0.474402,NaN,NaN,0.51782,0.414320,0.121009,0.544049,2,"[Toucan Gang , 4118]"
3,6456,0,Toucan Gang #626,Crying,Regular,Regular,NaN,NaN,Mummy,4,...,0.544049,0.474402,NaN,NaN,0.51782,0.413256,0.116753,0.544049,3,"[Toucan Gang , 626]"
4,7467,0,Toucan Gang #4526,Scar,Regular,Regular,NaN,NaN,Mummy,4,...,0.544049,0.474402,NaN,NaN,0.51782,0.409759,0.102767,0.544049,4,"[Toucan Gang , 4526]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7714,5621,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7714,NaN
7715,5622,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7715,NaN
7716,5628,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7716,NaN
7717,5764,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7717,NaN
7718,5765,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7718,NaN